.popular-destinations .section-title {
  width: 200px;
  margin: 0 auto;
}

.destination-items header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}

.destination-items {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 24px;
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 24px;
}

.img-item {
  width: 100%;
  height: 360px;
}

.img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.img-item.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.item h4 {
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 24px 0 0 0;
}

.item p {
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
}

.button {
  width: 312px;
  height: 64px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .popular-destinations .section-title {
    width: 100%;
  }

  .destination-items {
    padding: 0 60px;
  }

  .img-item {
    height: 452px;
  }

  .img-item.tokyo {
    background: url(../img/tokyo-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .img-item.osaka {
    background: url(../img/osaka-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .item .button {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .item {
    width: 588px;
    height: 750px;
  }

  .destination-items {
    flex-direction: row;
    justify-content: center;
  }

  .img-item {
    width: 588px;
  }
}
