header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68;
  height: 64;
}

.navigation-menu {
  margin-top: 24px;
}

nav {
  display: none;
}
