/* ==== AGRUPAMENTO GERAL (Todas as imagens) ==== */
.hero .hero-img,
.bottom-hero .hero-img,
.hero .hero-page {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* =========================================
   HEROS SIMPLES (Apenas Imagem - Index e Rodapés)
========================================= */
.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
}

/* Imagens do Index */
.hero .bg-index {
  background-image: url(../img/hero-mobile.jpg);
}

.bottom-hero .bg-index {
  background-image: url(../img/hero-rodape-mobile.jpg);
}

/* Imagem do Rodapé de Pacotes */
.bottom-hero .bg-pacotes {
  background-image: url(../img/pacotes-de-viagens/rodape-hero-mobile.jpg);
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/* =========================================
   PÁGINAS INTERNAS (Com Texto - Pacotes, Blog)
========================================= */
.hero .hero-page {
  height: 460px;
  margin: 0 auto 88px;
}

.hero .hero-page.bg-pacotes .section-title {
  width: 312px;
  padding-top: 65px;
}

.hero .hero-page.bg-blog .section-title {
  width: 312px;
  padding-top: 81px;
}

.hero .hero-page .section-title h1 {
  text-align: left;
}

.hero .hero-page .section-title hr {
  margin: 16px 0 32px;
}

.hero .hero-page .section-title p {
  color: var(--text-secondary-color);
  font-size: 20px;
  line-height: 32px;
}

/* Imagens das páginas internas */
.hero .bg-pacotes {
  background-image: url(../img/pacotes-de-viagens/hero-mobile.jpg);
}

.hero .bg-blog {
  background-image: url(../img/blog/hero-mobile.jpg);
}

/* =========================================
   MEDIA QUERIES
========================================= */
@media screen and (min-width: 768px) {
  /* Ajustes Heros Simples */
  .hero .hero-img.bg-index {
    height: 620px;
    background-image: url(../img/hero-tablet.jpg);
  }

  .bottom-hero .bg-index {
    background-image: url(../img/hero-rodape-mobile.jpg);
  }

  .bottom-hero .bg-pacotes {
    background-image: url(../img/pacotes-de-viagens/rodape-hero-tablet.png);
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /* Ajustes Páginas Internas */
  .hero .hero-page {
    height: 620px;
  }

  .hero .hero-page .section-title {
    width: 600px;
    padding-top: 210px;
  }

  .hero .hero-page .section-title p {
    font-size: 32px;
    line-height: 150%;
  }

  .hero .hero-page.bg-blog .section-title {
    padding-top: 160px;
    width: 580px;
  }

  .hero .bg-pacotes {
    background-image: url(../img/pacotes-de-viagens/hero-tablet.jpg);
  }

  .hero .bg-blog {
    background-image: url(../img/blog/hero-tablet.jpg);
  }
}

@media screen and (min-width: 1024px) {
  /* Ajustes Heros Simples */
  .hero .hero-img.bg-index {
    background-image: url(../img/hero-desktop.jpg);
  }

  .bottom-hero .hero-img.bg-index {
    height: 600px;
    background-image: url(../img/hero-rodape-desktop.jpg);
  }

  .bottom-hero .bg-pacotes {
    background-image: url(../img/pacotes-de-viagens/rodape-hero-desktop.jpg);
  }

  .hero h2 {
    padding: 88px 120px;
  }

  /* Ajustes Páginas Internas */
  .hero .hero-page {
    height: 620px;
  }

  .hero .hero-page .section-title {
    padding-top: 160px;
    margin-left: 120px;
  }

  .hero .hero-page .section-title p {
    width: 578px;
  }

  .hero .bg-pacotes {
    background-image: url(../img/pacotes-de-viagens/hero-desktop.jpg);
  }

  .hero .bg-blog {
    background-image: url(../img/blog/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
